USE [实验考勤系统]
GO
/****** Object:  Table [dbo].[实验课程安排表]    Script Date: 07/07/2016 14:43:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[实验课程安排表](
	[工号] [varchar](50) NULL,
	[姓名] [varchar](50) NULL,
	[课程名称] [varchar](50) NULL,
	[实验名称] [varchar](50) NULL,
	[是否已导入指纹] [varchar](50) NULL,
	[未到统计] [varchar](50) NULL,
	[实验成绩] [varchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[实验课程安排表] ([工号], [姓名], [课程名称], [实验名称], [是否已导入指纹], [未到统计], [实验成绩]) VALUES (N'123456', N'123', N'通信原理', N'请输入实验名称', N'是', NULL, NULL)
INSERT [dbo].[实验课程安排表] ([工号], [姓名], [课程名称], [实验名称], [是否已导入指纹], [未到统计], [实验成绩]) VALUES (N'123456', N'123', N'通信原理', N'时域均衡', N'是', NULL, NULL)
INSERT [dbo].[实验课程安排表] ([工号], [姓名], [课程名称], [实验名称], [是否已导入指纹], [未到统计], [实验成绩]) VALUES (N'123456', N'123', N'通信原理', N'FSK调制解调', N'是', NULL, NULL)
/****** Object:  Table [dbo].[教工用户表]    Script Date: 07/07/2016 14:43:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[教工用户表](
	[审核] [varchar](50) NULL,
	[工号] [varchar](50) NULL,
	[姓名] [varchar](50) NULL,
	[密码] [varchar](50) NULL,
	[联系方式] [varchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[教工用户表] ([审核], [工号], [姓名], [密码], [联系方式]) VALUES (N'管理员', N'admin', N'管理员', N'gliet', N'admin')
INSERT [dbo].[教工用户表] ([审核], [工号], [姓名], [密码], [联系方式]) VALUES (N'通过', N'1234', N'admin', N'1234', N'no')
INSERT [dbo].[教工用户表] ([审核], [工号], [姓名], [密码], [联系方式]) VALUES (N'通过', N'1120139', N'周海燕', N'gliet', N'gliet')
/****** Object:  Table [dbo].[表_123456123_通信原理]    Script Date: 07/07/2016 14:43:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[表_123456123_通信原理](
	[指纹号] [varchar](50) NULL,
	[学号] [varchar](50) NULL,
	[姓名] [varchar](50) NULL,
	[未到统计] [varchar](50) NULL,
	[时域均衡] [varchar](50) NULL,
	[FSK调制解调] [varchar](50) NULL,
	[PSK调制解调] [varchar](50) NULL,
	[模拟信号数字化] [varchar](50) NULL,
	[综合实验一] [varchar](50) NULL,
	[综合实验二] [varchar](50) NULL,
	[考试] [varchar](50) NULL,
	[同步技术] [varchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[表_123456123_通信原理] ([指纹号], [学号], [姓名], [未到统计], [时域均衡], [FSK调制解调], [PSK调制解调], [模拟信号数字化], [综合实验一], [综合实验二], [考试], [同步技术]) VALUES (N'236', N'1100210111', N'陈通', N'无', N'第十一周星期四第四大节第九批', N'第十二周星期四第二大节第六批', N'第十三周星期四第二大节第六批', N'第十四周星期四第二大节第六批', N'第十七周星期四第二大节第六批', NULL, NULL, NULL)
INSERT [dbo].[表_123456123_通信原理] ([指纹号], [学号], [姓名], [未到统计], [时域均衡], [FSK调制解调], [PSK调制解调], [模拟信号数字化], [综合实验一], [综合实验二], [考试], [同步技术]) VALUES (N'当前无指纹', N'1100210214', N'黄光欣', N'无', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[表_123456123_通信原理] ([指纹号], [学号], [姓名], [未到统计], [时域均衡], [FSK调制解调], [PSK调制解调], [模拟信号数字化], [综合实验一], [综合实验二], [考试], [同步技术]) VALUES (N'当前无指纹', N'1100220130', N'杨懿', N'无', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
